* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

.d-flex {
    display: flex;
}

.navbar {
    max-width: 1600px;
    height: 150px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    color: #171717;
}

.navbar a {
    text-decoration: none;
}

.navbar .logo {
    margin-right: 20px;
    color: #171717;
    font-size: 2rem;
    font-weight: 900;
    width: 350px;
    line-height: 90%;
    text-transform: uppercase;
    text-align: center;
    font-family: "Climate Crisis", sans-serif;
}

.navbar .logo span {
    color: #ff7700;
    font-size: 1.8rem;
    font-family: "Climate Crisis", sans-serif;
}

.navbar .add-button {
    margin: 0 30px 0 auto;
}

.navbar .add-button button {
    background-color: transparent;
    font-size: 1.2rem;
    color: #ff7700;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.navbar .add-button button:hover {
    color: #171717;
}

.dropdown {
    position: relative;
    color: #171717;
    font-size: 1.2rem;
    font-weight: 900;
    margin-right: 20px;
    text-decoration: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar .link:hover {
    color: #ff7700;
}

.navbar .add {
    color: #171717;
    font-size: 1.2rem;
    font-weight: 900;
    margin: 0 30px 0 auto;
}

.header {
    background-image: url('https://cf.geekdo-images.com/8m4T1bSYZ1DhZFRIHpCSig__opengraph/img/LIHSB4ueUNQjO6qxJQKpSRj7l_I=/0x0:2000x1050/fit-in/1200x630/filters:strip_icc()/pic8739079.jpg');
    background-size: cover;
    background-position: bottom;
    height: 250px;
    color: white;
    margin-bottom: 20px;
}

.header .container {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.header h1 {
    font-size: 4rem;
    font-weight: 900;

}

.filters-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}

.filter-label {
    font-size: .8rem;
    text-transform: uppercase;
    color: #666;
}

.search-filter {
    display: flex;
    gap: 10px;
}

.search-bar input {
    width: 500px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #171717;
    display: block;
    margin: 10px 0;
}

.category-filter select,
.sorting select {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #171717;
    background-color: white;
    display: block;
    margin: 10px 0 30px 0;
}

.category-filter option {
    text-transform: capitalize;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: space-between;
    transition: bottom 0.3s ease-in-out;
    margin-bottom: 200px;
}

.card {
    position: relative;
    width: 250px;
    margin-bottom: 20px;
}

.favorite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10;
    color: white;
}

.favorite-icon .fa-solid {
    color: #ff7700;
}

.thumbnail-container {
    width: 100%;
    height: 250px;
    margin-bottom: 15px;
    overflow: hidden;
}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s ease;
}

.thumbnail-container:hover .thumbnail {
    transform: scale(1.1);
}

.game-title {
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.game-category {
    font-size: .8rem;
    text-transform: uppercase;
    color: #666;
    margin-bottom: 10px;
}

.game-players,
.game-playtime,
.game-publisher,
.game-studio {
    font-size: 1rem;
    margin-bottom: 5px;
}

.game-publisher,
.game-studio {
    text-transform: capitalize;
}

.game-vote {
    font-size: 1rem;
    margin-bottom: 20px;
}

.compare-button {
    margin: 10px 0;
    font-size: 1rem;
    cursor: pointer;
    color: #171717;
}

.compare-button .fa-regular {
    margin-right: 5px;
}

.compare-button .remove-compare {
    color: #ff0000;
}

.compare-bar {
    display: none;
    width: 100%;
    padding: 20px 0;
    background-color: white;
    box-shadow: 0 -5px 20px #17171715;
    transition: bottom 0.3s ease-in-out;
    z-index: 1000;
}

.compare-bar.compare-active {
    display: block;
    position: fixed;
    bottom: 0;
}

.compare-title {
    font-size: 2rem;
    margin-bottom: 30px;
    cursor: pointer;
}

.clear-compare {
    color: #ff0000;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.clear-compare i {
    margin-right: 5px;
}

.compare-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    justify-content: space-between;
    transition: bottom 0.3s ease-in-out;
}

.compare-card {
    position: relative;
    /* background-color: #cacaca; */
    width: 150px;
    margin-bottom: 20px;
}

.compare-thumbnail-container {
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
    overflow: hidden;
}

/* -------------------------------------------------Details page */
.detail-game {
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
}

.game-info {
    width: 60%;
    padding-right: 50px;
}

.detail-title {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.detail-vote {
    height: 80px;
    aspect-ratio: cos(30deg);
    clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
    background: #ff7700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
    margin-right: 20px;
}

.detail-title .game-title {
    font-size: 2rem;
    font-weight: 900;
    margin-right: 10px;
}

.detail-title button {
    border: none;
    color: #171717;
    background-color: transparent;
    margin-left: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

.detail-title button .fa-trash {
    color: #fc5757;
}

.detail-year {
    font-weight: 600;
    font-size: 1.2rem;
}

.detail-category {
    text-transform: uppercase;
    color: #666;
}

.detail-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.detail-info-separator {
    height: 50px;
    width: 1px;
    background-color: #ff7700;
}

.detail-description {
    margin: 30px 0;
}

.detail-link {
    font-size: 1.2rem;
    font-weight: 600;
    color: #ff7700;
    text-decoration: none;
}

.game-thumbnail {
    width: 40%;
}

.game-thumbnail img {
    width: 100%;
}

/* --------------------------------FORM */
form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 0;
}

.form-title {
    margin: 50px 0 30px 0;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-field {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 5px;
}

.type-select {
    width: 300px;
    background-color: transparent;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 100000;
}

.modal textarea {
    width: 600px;
    height: 150px;
}

.modal-actions {
    margin-top: 50px;
}

.btn {
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 20px;
}

.btn-primary {
    background-color: #ff7700;
    color: white;
}

.btn-primary:hover {
    background-color: #171717;
}

.homepage-title {
    font-size: 2rem;
    margin-bottom: 50px;
}